transition(duration, easing, property=all)
	-webkit-transition property duration easing
	-moz-transition property duration easing 0s
	-o-transition property duration easing

translate-transform(x, y)
	-webkit-transform translate(x, y);
	-moz-transform translate(x, y);
	-o-transform translate(x, y);

rotate-transform(degrees)
	-webkit-transform rotate(degrees);
	-moz-transform rotate(degrees);
	-o-transform rotate(degrees);

transform-origin(x, y)
	-moz-transform-origin x y;
	-webkit-transform-origin x y;
	-o-transform-origin x y;

border-radius(topLeft, topRight=topLeft, bottomRight=topLeft, bottomLeft=topLeft)
	-webkit-border-radius: topLeft topRight bottomRight bottomLeft
	-moz-border-radius: topLeft topRight bottomRight bottomLeft
	-o-border-radius: topLeft topRight bottomRight bottomLeft
	border-radius: topLeft topRight bottomRight bottomLeft

box-shadow(x=0px, y=0px, s=0px, r=0px, color=black)
	-moz-box-shadow: x y s r color
	-webkit-box-shadow: x y s r color
	-khtml-box-shadow: x y s r color
	box-shadow: x y s r color
	ms-filter: unquote('progid:DXImageTransform.Microsoft.Shadow(color="#101010", direction=135, strength=15)')
	filter: unquote('progid:DXImageTransform.Microsoft.Shadow(color="#101010", direction=135, strength=15)')

column-count(count)
	-moz-column-count: count
	-webkit-column-count: count
	-khtml-column-count: count
	column-count: count