#container section .repositories
	.repository
		margin: 0 0 20px
		.readme
			margin: 20px 0 20px
			.content
				color: #bbb
				padding: 5px
				background: #333
				*
					white-space: normal
				pre, code
					font-family: "source code pro", Menlo, Monaco, consolas, monospace, serif;
					color: #eee
					white-space: pre
					background: #555
					text-align: left
				pre
					display: block
					margin: 10px
					padding: 5px
				li > code
					display: inline
				h1, h2
					margin: 0
					padding: 0
				h1
					text-transform: uppercase
					font-size: 16pt
					color: #eee
					line-height: 2em
					display: block
				h2
					color: #ddd
					font-size: 14pt
					line-height: 2em
					text-transform: capitalize
