.sprite-images-Logo_transparent_enhanced,
.sprite-images-knowledge-icon,
.sprite-images-Beehive_background_small,
.sprite-images-close-disabled,
.sprite-images-close-button-normal,
.sprite-images-close-button-hover,
.sprite-images-tab,
.sprite-images-email,
.sprite-images-download,
.sprite-images-bullet{background-image:url('../images/images.png');background-repeat:no-repeat}
.sprite-images-Logo_transparent_enhanced{background-position:0px 0px;width:550px;height:217px;}
.sprite-images-knowledge-icon{background-position:0px -217px;width:80px;height:80px;}
.sprite-images-Beehive_background_small{background-position:-80px -217px;width:70px;height:38px;}
.sprite-images-close-disabled{background-position:0px -297px;width:51px;height:51px;}
.sprite-images-close-button-normal{background-position:-150px -217px;width:25px;height:25px;}
.sprite-images-close-button-hover{background-position:-175px -217px;width:25px;height:25px;}
.sprite-images-tab{background-position:-200px -217px;width:18px;height:18px;}
.sprite-images-email{background-position:-218px -217px;width:18px;height:18px;}
.sprite-images-download{background-position:-236px -217px;width:18px;height:18px;}
.sprite-images-bullet{background-position:-254px -217px;width:11px;height:11px;}
